@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao novo projeto WebMVC</h1>
    <p>Este projeto está em construção para integrar front-end e back-end <br/>
        juntamento com o banco de dados</p>
</div>
