@*Por fazer uso de um Model é de fundamental importancia indicar aqui, na view, a origem das que terão seus valores vinculados - dessa forma é possivel manter a consistencia do fluxo de dados da aplicação*@

@*
    esta é a view responsavel por exibir os dados que foram atribuidos as props descrita no model - atrubuidos a partir do controller.
*@

@{
    ViewData["Title"] = "Infos";
}

@*construção da view*@

<h2>@ViewData["Title"]</h2>

<p>Nome: @Model.Nome</p>
<p>Idade: @Model.Idade</p>
<p>Endereco: @Model.Endereco</p>
