@*
    esta estrutura é um comentario dentro do arquivo View com os mecanismos Razor
    Neste contexto, a action - de nome Ola() - no controller, acaba de se comunicar com a view - a partir de seus nomes
*@

@{
    ViewData["Title"] = "Ola";
}

<h1>@ViewBag.Message</h1>